
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Brandon Sanderson</title>
    
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/about.css">
    
    
    </head>
    <body>
        <nav>
            <a href="/">Home</a>
            <a href="/work">Work</a>
            <a href="/about">About</a>
        </nav>
        <h1>About</h1>
        <section>
            <img src="/img/brandon2.jpg" alt="brandon picture">
            <div>
                <p> Brandon Winn Sanderson[1] (born December 19, 1975) is an American author of high fantasy and science fiction. He is best known for the Cosmere fictional universe, in which most of his fantasy novels, most notably the Mistborn series and The Stormlight Archive, are set. Outside of the Cosmere, he has written several young adult and juvenile series including The Reckoners, the Skyward series,[a] and the Alcatraz series. He is also known for finishing Robert Jordan's high fantasy series The Wheel of Time and has created several graphic novel fantasy series including White Sand and Dark One.
                    He created Sanderson's Laws of Magic and popularized the idea of "hard magic" and "soft magic" systems. In 2008, Sanderson started a podcast with author Dan Wells and cartoonist Howard Tayler called Writing Excuses, involving topics about creating genre writing and webcomics. In 2016, the American media company DMG Entertainment licensed the movie rights to Sanderson's entire Cosmere universe, but the rights have since reverted back to Sanderson. Sanderson's March 2022 Kickstarter campaign became the most successful in history, finishing with 185,341 backers pledging $41,754,153.
                </p>

            </div>


        </section>
        
            

    
    </body>
    </html>
