
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Brandon Sanderson</title>
    
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/work.css">
    
    
    </head>
    <body>
        <nav>
            <a href="/">Home</a>
            <a href="/work">Work</a>
            <a href="/about">About</a>
        </nav>
        <h1>he doesnt stop working!!!!!!</h1>
        <h2>Welcome to the Cosmere</h2>
        <section>
            <img src="/img/books.jpg" alt="brandon picture">
            <div>

                <p>
                    if you want to start reading his novels,
                    I suggest you take this path
                </p>
                <ol>               
                    <li>Mistborn Era 1.</li> 
                    <li>The Way Of Kings.</li>
                    <li>Warbreaker.</li>
                    <li>Words Of Radiance.</li>
                    <li>Oathbringer.</li>
                    <li> Rhythm of War</li>
                </ol>
            </div>
                
                
                
                
                
           

        </section>
        
            

    
    </body>
    </html>
